form#steps-form(role='form').steps-form
    #step-1.step.step-active
        .step-progress
            span.step-line-start
            span.step-line
            span.step-number 1
        .step-content.mt-3
            .form-group.w-50
                p.pl-3 Select the desired content type
                select#desiredContent.selectpicker(
                title="Choose one ...",
                required,
                data-width="100%",
                data-selected-text-format="count > 1"
                )
                    option(value='Infromative') Infromative
                    option(value='Educational') Educational
                    option(value='Sports') Sports
                    option(value='Entertainment') Entertainment
                    option(value='Other') Other ...
            #step-1-picks.form-group.w-50
                p.mb-4 previous picks
                .pretty.p-default.p-round
                    input(type='radio', name='pick1', value="",required)
                    .state.p-danger
                        label Night Life
                .pretty.p-default.p-round
                    input(type='radio', name='pick1', value="",required)
                    .state.p-danger
                        label Sports
                .pretty.p-default.p-round
                    input(type='radio', name='pick1', value="",required)
                    .state.p-danger
                        label Entertainment
    #step-2.step
        .step-progress
            span.step-line
            span.step-number 2
        .step-content
            .form-group.w-80
                p.pl-3 What do you want to write about?
                input.form-control.step-input(type="text",placeholder="...", required="required")
    #step-3.step
        .step-progress
            span.step-line
            span.step-number 3
        .step-content
            .form-group.col-6
                p.pl-3 Select the category of your website
                select#categorySite.selectpicker(
                title="Choose one ...",
                required,
                data-width="100%",
                data-selected-text-format="count > 1",
                )
                    option(value="Technology") Technology
                    option(value="Educational") Educational
                    option(value="Sports") Sports
            #step-3-picks.form-group.col-6
                p.mb-4 previous picks
                .pretty.p-default.p-round
                    input.step-field(type='radio', name='radio2',value="", required)
                    .state.p-danger
                        label Medical Services
                .pretty.p-default.p-round
                    input.step-field(type='radio', name='radio2',value="", required)
                    .state.p-danger
                        label Gaming
    #step-4.step
        .step-progress
            span.step-line
            button#validate.validate(type="submit")
                // SVG
                svg(width='100%', height='30px', xmlns='http://www.w3.org/2000/svg')
                    defs
                        lineargradient#gradient(y1='0', y2='1')
                            stop(stop-color='#d45357', offset='0')
                            stop(stop-color='#e37825', offset='1')
                    g
                        text#validate-svg(y='25',x='20%', font-family='Roboto', font-size='28', font-weight='900',
                        fill='url' +
                        '(#gradient)') Validate
        .step-content.my-5
