form#steps-form(role='form', method="get").steps-form
    #step-1.step.step-active.step-null
        .step-progress
            span.step-line-start
            span.step-line
            span.step-number 1
        .step-content.mt-3
            #step-1-select.form-group.w-50
                p.pl-3 Select the desired content type
                select#step-1-selectpicker.selectpicker(
                required,
                data-width="100%",
                multiple,
                data-max-options="1",
                )
                    option(value='1') Infromative
                    option(value='2') Educational
                    option(value='3') Sports
                    option(value='4') Entertainment
                    option(value='5') Other ...
            #step-1-picks.form-group.w-50
                p.mb-4 previous picks
                .pretty.p-default.p-round
                    input(type='radio', name='pick1', value="")
                    .state.p-danger
                        label Night Life
                .pretty.p-default.p-round
                    input(type='radio', name='pick1', value="")
                    .state.p-danger
                        label Sports
                .pretty.p-default.p-round
                    input(type='radio', name='pick1', value="")
                    .state.p-danger
                        label Entertainment
    #step-2.step
        .step-progress
            span.step-line
            span.step-number 2
        .step-content
            .form-group.w-80
                p.pl-3 What do you want to write about?
                input.form-control.step-input(type="text",placeholder="...",required)
    #step-3.step
        .step-progress
            span.step-line
            span.step-number 3
        .step-content
            #step-3-select.form-group.col-6
                p.pl-3 Select the category of your website
                select#categorySite.selectpicker(
                required,
                data-width="100%",
                multiple,
                data-max-options="1",
                )
                    option(value='1') Technology
                    option(value='2') Educational
                    option(value='3') Sports
                    option(value='4') Choose one ...
            #step-3-picks.form-group.col-6
                p.mb-4 previous picks
                .pretty.p-default.p-round
                    input.step-field(type='radio', name='radio2',value="")
                    .state.p-danger
                        label Medical Services
                .pretty.p-default.p-round
                    input.step-field(type='radio', name='radio2',value="")
                    .state.p-danger
                        label Gaming
    #step-4.step
        .step-progress
            span.step-line
            button#validate.validate(type="submit")
                // SVG
                svg(width='100%', height='30px', xmlns='http://www.w3.org/2000/svg')
                    defs
                        lineargradient#gradient(y1='0', y2='1')
                            stop(stop-color='#d45357', offset='0')
                            stop(stop-color='#e37825', offset='1')
                    g
                        text#validate-svg(y='25',x='20%', font-family='Roboto', font-size='28', font-weight='900',
                        fill='url' +
                        '(#gradient)') Validate
        .step-content.my-5
